<div class="container">
    <div class="row">
        <div class="col-lg-6 d-flex justify-center position-fixed start-0 bg-dark text-light p-2 h-100">
            <header class="">
                <div class="header-section row d-flex flex-column p-2">
                    <h1 class="p-3">Christopher Giordano</h1>
                    <h2 class="p-3">Web Developer</h2>
                    <p class="p-3">I am a student that has built many different websites and applications.</p>
                </div>
                <nav id="nav-id" class="navbar container p-2">

                    <div class="d-flex flex-column">
                        <a class="navbar-brand text-light nav-hover" href="#about">ABOUT</a>
                        <a class="navbar-brand text-light nav-hover" href="#experience">EXPERIENCE</a>
                        <a class="navbar-brand text-light nav-hover" href="#projects">PROJECTS</a>
                    </div>

                </nav>
                <div class="social-links mt-3 ">
                    <a href="https://www.linkedin.com/in/christopher-giordano-4486366b/" alt="Linkedin profile"
                        class="d-inline-block p-2" style="width: 50px; height: 50px;">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-hover" viewBox="0 0 24 24" fill="grey"
                            aria-hidden="true">
                            <path
                                d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z">
                            </path>
                        </svg>
                    </a>
                    <a href="https://github.com/Milkytea6" alt="Github profile" class="d-inline-block p-2 icon-hover"
                        style="width: 50px; height: 50px;">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-hover" viewBox="0 0 16 16" fill="grey"
                            class="h-2 w-2" aria-hidden="true">
                            <path
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                            </path>
                        </svg>
                    </a>
                </div>
            </header>
        </div>
        <div class="col-lg-6 position-absolute end-0 bg-dark text-light p-2">
            <main data-bs-spy="scroll" data-bs-target="#nav-id" data-bs-smooth-scroll="true" class="w-75">
                <div id="about" class="about-section p-2">
                    <h2>ABOUT</h2>
                    <p>
                        I am a bootcamp student learning to code for my first time.
                        I have created and contributed to many projects over the last couple months that have tought me
                        a lot about the industry.
                        I want to learn how to develop websites, software, and/or games on my coding journey.
                        I am excited to see where coding can take my career and how I will evolve learning
                        these new skills.
                    </p>
                </div>
                <div id="experience" class="experience-section p-2">
                    <h2>EXPERIENCE</h2>
                    <div>
                        <div class="project-hover p-2">
                            <a class="link-light link-hover p-2 text-decoration-none"
                                href="https://bootcamp.rutgers.edu/coding/landing/?s=Google-Unbranded&dki=Learn%20Coding%20and%20More%20Online&pkw=%2Bdigital%20%2Bbootcamp%20%2Bonline&pcrid=454288240777&pmt=b&utm_source=google&utm_medium=cpc&utm_campaign=GGL%7CRUTGERS-UNIVERSITY%7CSEM%7CCODING%7C-%7COFL%7CTIER-1%7CALL%7CNBD-G%7CBMM%7CQuaternary%7CBootcamp&utm_term=%2Bdigital%20%2Bbootcamp%20%2Bonline&s=google&k=%2Bdigital%20%2Bbootcamp%20%2Bonline&utm_adgroupid=108931316151&utm_locationphysicalms=9003849&utm_matchtype=b&utm_network=g&utm_device=c&utm_content=454288240777&utm_placement=&gad_source=1&gclid=CjwKCAjwmrqzBhAoEiwAXVpgok2KeKgFRIZUKhA9PLZgGN-9RJSd0f0RRNNkWucotMmQkttCrXUs4BoCC_oQAvD_BwE&gclsrc=aw.ds">
                                <h3>Rutgers Full-Stack Web Development 24-week Bootcamp</h3>
                                <p>A course provided by Rutgers with classes 3 days a week
                                    with many resources for learning full-stack web developement.
                                    I am currently completing this course,
                                    but have learned so much information about so many different
                                    technologies used in web development.

                                </p>
                            </a>
                        </div>
                        <div class="p-2 project-hover">
                           <a class="link-light link-hover p-2 text-decoration-none" href="https://chemglass.com/?gad_source=1&gclid=CjwKCAjwmrqzBhAoEiwAXVpgogKL-MP5b_7wQQIRsMIdEPWeFTyPSAXw7Q2sLnJzxCa1kewC_F_PGhoCpjAQAvD_BwE">
                            <h3>CHEMGLASS LIFE SCIENCES</h3>
                            <p>VINELAND, NJ</p>
                            <p>CNC Machinist, July 2021 - Present</p>
                           </a>
                        </div>
                        <div class="p-2 project-hover">
                           <a class="link-light link-hover p-2 text-decoration-none" href="https://www.google.com/search?q=modern+metric+machine+company+inc&sca_esv=ef2c4b0a2da52218&sca_upv=1&rlz=1C1CHBF_enUS876US876&ei=KyFvZsf-LNeg5NoP34GDwA8&oq=modern+metric+machine+co&gs_lp=Egxnd3Mtd2l6LXNlcnAiGG1vZGVybiBtZXRyaWMgbWFjaGluZSBjbyoCCAAyBxAAGLADGB4yDhAAGIAEGLADGIYDGIoFMg4QABiABBiwAxiGAxiKBTIOEAAYgAQYsAMYhgMYigUyCxAAGIAEGLADGKIEMgsQABiABBiwAxiiBDILEAAYgAQYsAMYogRIsj9QAFgAcAJ4AJABAJgBAKABAKoBALgBAcgBAJgCAqACCJgDAIgGAZAGB5IHATKgBwA&sclient=gws-wiz-serp">
                            <h3>MODERN METRIC MACHINE COMPANY, </h3>
                            <p>AUDUBON, NJ</p>
                            <p>CNC Machinist, August 2019 - April 2021</p>
                           </a>
                        </div>
                        <div class="p-2">
                            <h3>Resume for CNC Machinist</h3>
                            <embed src="/img/screenshots/christopher-giordano-resume.pdf" width="500" height="375" type="application/pdf">
                        </div>
                    </div>

                </div>
                <div id="projects" class="projects-section">
                    <h2>PROJECTS</h2>
                    {{#each projects as |project| }}
                    <div class="project project-hover d-flex row p-2">

                        <a class="link-light link-hover p-2 fs-3 text-decoration-none" href="{{project.link}}">
                            <img src="/img/screenshots/{{project.kebab}}.png" class="m-3 fs-5"
                                alt="Link to {{project.title}}. {{project.description}}">
                            <h3 class="d-inline-block p-2">{{project.title}}&#8599</h3>
                            <p class="p-2 me-5 fs-5 text-decoration-none">{{project.description}}</p>
                        </a>
                        <a class="link-light link-hover p-2 fs-5 mb-3 text-decoration-none"
                            href="{{project.repository}}">&#8599{{project.title}} Github
                            Repository</a>
                    </div>
                    {{/each}}
                </div>
                <div>
                    <p>
                        Inspiration from
                        <a href="https://brittanychiang.com/" class="link-info text-decoration-none hover">Brittany
                            Chiang</a>, coded in
                        <a href="https://code.visualstudio.com/" class="link-info text-decoration-none hover">Virtual
                            Studio Code</a> by me. Built with
                        <a href="https://expressjs.com/" class="link-info text-decoration-none hover">Express.js</a>,
                        <a href="https://sequelize.org/" class="link-info text-decoration-none hover">Sequelize</a>, and
                        <a href="hhttps://getbootstrap.com/" class="link-info text-decoration-none hover">Bootstrap</a>.
                        Then deployed on
                        <a href="https://render.com/" class="link-info text-decoration-none hover">Render</a>.
                    </p>
                </div>
            </main>
            <footer>

            </footer>
        </div>
    </div>
</div>